<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"  *ngIf="identity">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/timeline']">Timeline</a>
        </li>        
        <li class="nav-item">
          <a  class="nav-link "  tabindex="-1" aria-disabled="true" [routerLink]="['/gente']" [routerLinkActivate]="['/active']">Gente</a>
        </li>

        <li class="nav-item">
          <a  class="nav-link "  tabindex="-1" aria-disabled="true" [routerLink]="['/mensajes']" [routerLinkActivate]="['/active']">            
            Mensajes</a>
        </li>
        
        <li id="liUser" class="nav-item dropdown" *ngIf="identity">

          
          <img id="imagenUsuario" src="{{url + 'get-image-user/'  + identity.image}}" *ngIf="identity && identity.image">
          <img id="imagenUsuario" src="assets/user.png" *ngIf="!identity.image">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{identity.name}}
          </a>
          <ul id="ulUser"  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/perfil',identity._id]">Mi perfil</a></li>
            <li><a [routerLink]="['/mis-datos']" class="dropdown-item" href="#">Mis datos</a></li>            
            <li><a class="dropdown-item" (click)="logout()" href="#">Cerrar secion</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <ul class="DivloginRegistro" *ngIf="!identity">
        <a [routerLink]="['/login']"><li>Login</li></a>
        <a [routerLink]="['/registro']"><li>Register</li></a>       
      </ul>
      
      
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


