
.DivloginRegistro{
    position: relative;
    right: -1042px;
    padding: 0px;
    margin: 0px;
}
.DivloginRegistro li{    
    color:white;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

#liUser{
    left: 830px;
}
#ulUser{
    left: -48px;;
}