<div id="genteContainer">
  
    <div style="float: left;width:65%" *ngIf="user">
      <h1>{{title}}  {{user.name}}</h1> 
      <hr>   
      <div class="people" *ngIf="following">
          <div *ngFor="let follow of following" >
              <div class="cadaPersona" >                  
                  <a href="">
                      <img class="imagenUs" src="{{url + 'get-image-user/'  + follow.followed.image}}"  *ngIf="follow.followed.image">
                      <img class="imagenUs" src="assets/user.png"  *ngIf="!follow.followed.image">
                  </a> 
                   <div class="datosPersona">
                      <a [routerLink]="['/perfil',follow.followed._id]">
                        <div class="nombreCompleto">{{follow.followed.name + ' ' + follow.followed.surname }}</div>
                        <div class="apodo">{{follow.followed.nick}}</div>
                      </a>
                  </div>    

                   <div class="botones" *ngIf="follow.followed._id != identity._id">
                      <button id="seguir" *ngIf="follows.indexOf(follow.followed._id) < 0" 
                      (click)="folloeUser(follow.followed._id)"
                      >Seguir</button>
                      
                      
                      <button id="dejardeseguir" *ngIf="follows.indexOf(follow.followed._id) >= 0"
                      (mouseenter)="mouseEnter(follow.followed._id)"
                      (mouseleave)="mouseLeave(follow.followed._id)" 
                      (click)="unfollowUser(follow.followed._id)"                  
                      >
                          <span *ngIf="follow.followed._id == followUserOver;else following">Dejar de seguir</span>
                          <ng-template #following>                            
                              <span>Siguiendo</span>
                          </ng-template>
                                                  
                      </button>
                  </div>   -

              </div>            
          </div>
          <!-- paginacion -->
            <ul class="pagination">
              <li *ngIf="page > 1"><a [routerLink]="['/siguiendo',userPageId, prev_page]">Anterior</a></li>
              <li *ngIf="pages != page"><a [routerLink]="['/siguiendo',userPageId, next_page]">Siguiente</a></li> 
          </ul>  
      </div>
    </div>
      <app-sidebar></app-sidebar>
      
  </div>
