form{
    width: 400px;
    border: lightgray 1px solid;
    margin: auto;
    padding: 10px;
    position: relative;
    top:20px;
}
label{
    display: block;
    margin-bottom:10px;      
}
input{
    display: block;
    margin-bottom:10px;
    width: 100%;     
}
h1{
    display: block;    
}
#btnLogin{
    background: greenyellow;
    margin-top: 20px;
    border: none;
}
#btnLogin:hover{
    background: green;
    color:white;
}